.Steps 
    &-grid-container 
        display: grid 
        grid-template-columns: repeat(3, 1fr)
        .box 
            display: flex 
            flex-direction: column
            justify-items: center
            align-items: center
            .number-container 
                height: 90px
                width: 90px
                display: flex 
                justify-content: center
                align-items: center 
                border-radius: 50%
                p 
                    font-size: 2rem 
                    font-weight: bold
                    color: #8B8F9F 
            h1
                font-size: 1.4rem
            p 
                color: #8B8F9F 
                font-weight: 500 
                font-size: .9rem