.Nav
    border-bottom: 1px solid #e3e3e3
    
    &-container

        display: flex
        align-items: center
        // justify-content: space-between
    nav ul 
        display: flex 
        li 
            font-size: 1rem
            list-style: none 
            padding: 10px
            cursor: pointer
            &:first-child
                font-weight: bold
        .business-link
            color: #a7a6a6
            transition: color .4s
            &:hover 
                color: darken(#bdbdbd , 20%)